# Python
backend/venv/
__pycache__/
*.pyc

# Node
frontend/node_modules/

# Environment variables
.env
*.env

# Vite
frontend/dist/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# PyCharm
.idea/